<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% if title %}
  <title>{{title}}</title>

  {% else %}
  <title>Just to get used to the syntax</title>

  {% endif %}

</head>
<body>
  Welcome to {{title}}!! <br>

  <div class="search-tool">
    <form action="">

      {% if query == '' %}
      <input type="text", name="query", placeholder="search">

      {% else %}
      <input type="text", name="query", placeholder={{' '.join(query)}}>

      {% endif %}

      <input type="submit" value="Submit">
    </form>

    {% if obj['result'] != "" %}

    <div class="time">
      <p>({{obj['time']}} seconds)</p>
    </div>

    {% endif %}

  </div>

  {% if obj['result'] != "" %}

  <div class="result-container">

    {% if obj['result'] == [] %}
    <p>No result found :(</p>

    {% else %}

    <ul class="result">

    {% for link in obj['result'] %}

    <li class="link">
      <a href="">{{link}}</a>
    </li>

    {% endfor %}

    </ul>

    {% endif %}

  </div>

  {% endif %}
  


</body>

</html>
